/*-- HEADERS --*/
.inline-title {
  /* Created with https://www.css-gradient.com */
  background: #8b6cef;
  background: -webkit-radial-gradient(top right, #8b6cef, #3F48F7);
  background: -moz-radial-gradient(top right, #8b6cef, #3F48F7);
  background: radial-gradient(to bottom left, #8b6cef, #3F48F7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.HyperMD-header, .markdown-embed-title .cm-header {
    font-size: 1.2em !important;
    line-height: 1.55 !important;
}

.cm-header {
    font-weight: 600 !important;
}

/* --- GRAPH ---*/

.graph-view.color-fill {
  color: #5452FF;
}
